table {
	border: 10px solid silver;
}

td:hover {
	background: orange;
	color: black;
}

tr, th {
	background: gold;
	color: darkviolet;
	text-align: center;
} 

h1	{
		text-align: center;
		color: darkviolet;
}